[general]
# Possible logging levels: CRITICAL, ERROR, WARNING,
# INFO, or DEBUG. Recommended level is WARNING.
logging=WARNING

[database]
user=username_here
password=password_here_or_empty
host=127.0.0.1
database=database_name

[openfoodfacts]
# Language code (fr by default)
lcode=fr
# Country code (fr by default)
ccode=fr